.appointmentDesign {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    border-radius: 2em;

}

.gridAppointments {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.titleAppointments {
    text-align: center;
    margin: 1em;
    font-size: larger;
    font-weight: 500;
}

.btnNewAppt {
    cursor: pointer;
    font-weight: 500;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 50vw;
    border: 0.2em solid rgb(60, 148, 182);
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnNewAppt:hover {
    background-color: rgb(187, 211, 230);

    transition: 0.3s;
}

@media (min-width:900px) {

    .gridAppointments {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 4em;
    }


    .btnNewAppt {
        width: 20vw;
        font-size: larger;
    }
}