.appointmentDesign {
    height: 90vh;
    width: 100vw;
    background-color: transparent;

    flex-direction: column;
    border-radius: 2em;
}

.gridAppointments{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2em;
}

.titleAppointments{
    text-align: center;
    margin: 1em;
    font-weight: 500;
}