.navigatorDesign {
    height: 2em;
    width: 4.5em;
    background-color: transparent;
    border-radius: 0.3em;
    border: 0.1em solid lightblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3em;
    transition: 0.3s;
}

.navigatorDesign:hover {
    background-color: beige;

    transition: 0.3s;
}

@media (min-width:1500px) {
    .navigatorDesign {
        height: 4em;
        width: 10em;
    }
}