.headerDesign {
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.linksNav {
    display: flex;
}

.logoutDesign, .profileButton{
    height: 2em;
    width: 4.5em;
    background-color: transparent;
    border-radius: 0.3em;
    border: 0.1em solid lightblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3em;
    transition: 0.3s;
}
.logoDesign{
    width: 9em;
    height: 2.5em;
    background-image: url("../../assets/logo_clinica-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

@media (min-width:900px) {


    .logoDesign{
        width: 15em;
        height: 5em;
        background-image: url("../../assets/logo_clinica-removebg-preview.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .logoutDesign{
        height: 4em;
        width: 10em;
    }
}