.AdminPanelDesign {
    height: 90vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
}
.titleClients{
    font-size: larger;
    font-weight: 600;
    margin: 1em;
}

.gridClients{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}